/* scrollbarStyles.css */
.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #E2E4E7);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #E2E4E7);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color, #E2E4E7);
}
